@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Variable.woff2') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --vp-c-brand-1: theme(colors.blue.500);
  --vp-c-brand-2: theme(colors.blue.400);
  --vp-c-brand-3: theme(colors.blue.300);
  --vp-c-text-dark-1: theme(colors.white / 95%);
  --vp-c-text-dark-2: theme(colors.white / 50%);
  --vp-c-text-dark-3: theme(colors.white / 50%);
  --vp-sidebar-bg-color: theme(colors.transparent);
  --vp-font-family-base: "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-nav-bg-color: rgba(255, 255, 255, 0.5);
}

html {
  font-family: var(--vp-font-family-base);
  @apply antialiased;
}

.logo {
  @apply p-1;
}

.content-body {
  @apply backdrop-blur-sm;
}

/* Dark theme */
.dark {
  --vp-c-bg: #121116;
  --vp-code-block-bg: #0E0F15;
  --vp-nav-bg-color: rgba(18, 17, 22, 0.5);
}

.dark ::selection {
  @apply bg-blue-700;
  @apply text-white;
}

.dark .VPSidebar {
  @apply bg-[#121116];
  @apply lg:bg-transparent;
}

html:not(.dark) .VPSidebar {
  @apply bg-white;
  @apply lg:bg-transparent;
}

.dark .vp-doc p,
.dark .vp-doc li {
  @apply text-white/[0.7];
}

.curtain,
.curtain:before,
.aside-curtain {
  @apply opacity-0;
}

.dark .bg-gradient:before,
.dark .vp-doc:not(._):before {
  @apply select-none;
  @apply pointer-events-none;
  @apply content-[''];
  @apply absolute;
  @apply rounded-3xl;
  @apply opacity-5;
  @apply bg-blue-500;
  @apply blur-[100px];
  @apply w-full;
  @apply h-full;
}

.VPNavBar .divider-line {
  @apply bg-[var(--vp-c-divider)] !important;
}

/* Links */
.vp-doc a {
  @apply no-underline;
  @apply inline-block;
  @apply relative;
}

.vp-doc a:hover {
  @apply text-[var(--vp-c-brand-1)];
}

.vp-doc a::before {
  content: '';
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  @apply absolute;
  @apply w-full;
  @apply h-[2px];
  @apply bottom-[1px];
  @apply left-0;
  @apply bg-[var(--vp-c-brand-1)];
}

.vp-doc a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
