:root {
  --vp-c-brand: theme(colors.blue.500);
  --vp-c-brand-light: theme(colors.blue.400);
  --vp-c-brand-lighter: theme(colors.blue.300);
  --vp-c-brand-dark: theme(colors.blue.600);
  --vp-c-brand-darker: theme(colors.blue.700);
  --vp-c-text-dark-1: theme(colors.white / 95%);
  --vp-c-text-dark-2: theme(colors.white / 50%);
  --vp-c-text-dark-3: theme(colors.white / 50%);
  --vp-sidebar-bg-color: theme(colors.transparent);
  --vp-nav-bg-color: theme(colors.transparent);
}

.logo {
  @apply p-1;
}

.dark {
  --vp-c-bg: #121116;
  --vp-code-block-bg: #0E0F15;
}

.dark ::selection {
  @apply bg-blue-700;
  @apply text-white;
}

.dark .VPSidebar {
  @apply bg-[#121116];
  @apply lg:bg-transparent;
}

html:not(.dark) .VPSidebar {
  @apply bg-white;
  @apply lg:bg-transparent;
}

.dark .vp-doc p,
.dark .vp-doc li {
  @apply text-white/[0.7];
}

.curtain,
.curtain:before,
.aside-curtain {
  @apply opacity-0;
}

.dark .bg-gradient:before,
.dark .vp-doc:not(._):before {
  @apply select-none;
  @apply pointer-events-none;
  @apply content-[''];
  @apply absolute;
  @apply rounded-3xl;
  @apply opacity-5;
  @apply bg-blue-500;
  @apply blur-[100px];
  @apply w-full;
  @apply h-full;
}